/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1700px) {
	/*[data-type="widget_type_middle"]{
		padding-left: 28px;
		padding-right: 28px;
	}
	.rating_1 .br-wrapper{width: 70%;}
	.rating_2 .img_box{width: 42%;}*/

}

@media only screen and (max-width: 1500px) {
	/*.rating_2 .br-wrapper{width: 48%;}
	.rating_2 .img_box{width: 35%;}*/
}

@media only screen and (max-width: 1440px) {
	/*.rating_2 .br-wrapper{width: 50%;}*/
}

@media only screen and (max-width: 1400px) {
	
}

@media only screen and (max-width: 1366px) {

	.input_error1{
		width: 200px;
	}

	.input_error2{
		width: 190px;
	}

	.bloc_bg2,
	.bloc_bg3,
	.bloc_bg4{
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 1280px) {
	/*.rating_2 .img_box{width: 32%;}
	.rating_2 .br-wrapper{width: 53%;}*/

	.wa--widget__fixed--block-content.show{
		/*top: 0;*/
	}
}

@media only screen and (max-width: 1200px) {
	.mt-211{
		margin-top: 0;
	}

	.bloc_bg2,
	.bloc_bg3,
	.bloc_bg4{
		width: 100%;
		height: auto;
	}

	.bloc_bg5{
		width: calc(100% - 80px);
		height: auto;
	}
	.mb75{
		margin-bottom: 30px;
	}

	.btn{
		font-size: 16px;
	}
}

@media only screen and (max-width: 1199px) {
	
	.rating_2 .img_box{width: 45%;}
	.rating_2 .br-wrapper{width: 45%;}
}

@media only screen and (max-width: 1100px) {


	.input_bloc{
		margin-right: 0;
	}

	.showMenu .menu{
		right: 0;
		top: 119px;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

	.showMenu .after__login .search__wrapper,
	.showMenu .search__wrapper{
		z-index: 10;
		left: auto;
		right: 0;
		top: 70px;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

	.after__login .search__wrapper{
		z-index: 1;
		left: auto;
		top: 70px;
	}

	.menu_item{
		float: none;
		margin-bottom: 10px;
	}

	.menu{	
		width: 481px;
	}
	
	.menu,
	.after__login .search__wrapper,
	.search__wrapper{
		padding: 10px 10px 0;
		background: #fff;
		position: fixed;
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transition: all 0.6s ease;
		-moz-transition: all 0.6s ease;
		-o-transition: all 0.6s ease;
		transition: all 0.6s ease;
	}

	.search__wrapper,
	.after__login .search__wrapper{
		padding-left: 20px;
		padding-right: 9px;
	}

	.after__login .search__wrapper{
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

	.btn_menu{
		margin-top: 8px;
		display: block;
		width: 30px;
		height: 25px;
		position: relative;
	}

	.btn_menu span{
		width: 100%;
		height: 2px;
		background: #1b5aa7;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition: all 0.6s ease;
		-moz-transition: all 0.6s ease;
		-o-transition: all 0.6s ease;
		transition: all 0.6s ease;
	}

	.btn_menu::before{
		content: "";
		width: 100%;
		height: 2px;
		background: #1b5aa7;
		position: absolute;
		top: 1px;
		-webkit-transition: all 0.6s ease;
		-moz-transition: all 0.6s ease;
		-o-transition: all 0.6s ease;
		transition: all 0.6s ease;
	}

	.btn_menu::after{
		content: "";
		width: 100%;
		height: 2px;
		background: #1b5aa7;
		position: absolute;
		bottom: 0;
		-webkit-transition: all 0.6s ease;
		-moz-transition: all 0.6s ease;
		-o-transition: all 0.6s ease;
		transition: all 0.6s ease;
	}

	.showMenu .btn_menu span{
		opacity: 0;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

	.showMenu .btn_menu::before{
		-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    	transform: rotate(-45deg) translate(-9px, 6px) ;
    	-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
		opacity: 1;
	}

	.showMenu .btn_menu::after{
		-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    	transform: rotate(45deg) translate(-8px, -8px) ;
    	-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
		opacity: 1;
	}

	/*============== widget ================*/
	.wa--widget__fixed--block-content .widget-main{

	}
	.wa--widget__fixed--block .widget__content{
		
	}
	[data-rait-val]::before{
		top: 6px;
	}

	.wa--widget__fixed--block-btn{
		top: 50%;
		width: 70px;
		height: 70px;
		padding-top: 20px;
		text-indent: -99999px;
	}

	.wa--widget__fixed--block-btn::before{
		width: 50px;
        height: 50px;
        top: 7px;
        left: 49%;
        text-indent: 0;
	}

	.wa--widget__fixed--block-btn[data-btn-val]::after{
		top: 25px;
		font-size: 18px;
		text-indent: 0;
	}

	.wa--widget__fixed--block-content{
		width: 90%;
		top: 10px;
		right: 10px;
		left: 10px;
		margin-left: auto;
		margin-right: auto;
	}
	.wa--widget__fixed--block-content.show{right: 10px;}

	.wa--widget__fixed--block-content::before{
	  content: "";
	  position: fixed;
	  left: 0;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  background-color: rgba(0, 0, 0, .3);
	}

	.wa--widget__fixed--block-btn--close{display: block;}

	/*=================================*/
}

@media only screen and (max-width: 995px) {
	[data-type="widget_type_small"]{
		padding-left: 15px;
		padding-right: 15px;
	}

	.rating_1 .br-wrapper{
		width: 57%;
	}


	/*.wa--widget__fixed--block .widget__content{
		padding: 8px 8px 10px;
	}
	[data-rait-val]::before{
		top: 6px;
	}

	.wa--widget__fixed--block-btn{
		top: 75px;
		width: 90px;
        height: 80px;
        padding-top: 100px;
        font-size: 11px;
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
		    -ms-transform: translateY(0);
		     -o-transform: translateY(0);
		        transform: translateY(0);
	}

	.wa--widget__fixed--block-btn::before{
		width: 70px;
        height: 65px;
        top: 27px;
        left: 49%;
	}

	.wa--widget__fixed--block-content{
		top: 35%;
	}

	.wa--widget__fixed--block-content.show{
		right: 0;
	}*/
}



@media only screen and (max-width: 991px) {
	.rating_1 .br-wrapper{
		width: 70%;
	}
}

@media only screen and (max-width: 768px) {
	header .col-md-12{
		margin-bottom: 0 !important;
	}

	.rating_1 .br-wrapper{
		width: 57%;
	}

	
	.wa--widget__fixed--block-content{
		width: 95%;
	}
	.wa--widget__fixed--block-content p.mb48{
		margin-bottom: 20px;
		font-size: 12px;
	}
}

@media only screen and (max-width: 767px) {
	.block__contact .f_right,
	.block__contact .f_left{
		float: none;
	}

	.block__contact .btn{
		margin-top: 15px;
	}

}

@media only screen and (max-width: 480px) {
	.comit_box{
		padding: 18px 10px;
	}

	.banner__img{
		height: 300px !important;
	}

	.banner--item{
		width: 100%;
		height: 200px;
		margin-top: 101px;	
	}

	.banner-bg .btn{
		padding-left: 10px;
		padding-right: 10px;
		font-size: 14px;
	}

	.banner-bg .btn::before{
		display: none;
	}

	.input_error1,
	.input_error2{
		width: 100px;
	}

	.menu{
		width: 291px;
	}

	.comit_wrap .input_error1{
		width: 100%;
		float: none;
		margin-left: 0;
	}

	.basic_stars.extra .br-theme-css-stars .br-widget a{
		width: 40px;
		height: 38px;
		-webkit-background-size: 100%;
		background-size: 100%;
	}

	.basic_stars.extra .br-theme-css-stars .br-widget a.br-selected:after{
        width: 40px;
        height: 38px;
        -webkit-background-size: 100% auto !important;
             -o-background-size: 100% auto !important;
                background-size: 100% auto !important;
    }
}

@media only screen and (max-width: 414px) {
	.comit_box .date{
		float: none;
		width: 100%;
		display: inline-block;
		padding-left: 45px;
	}

	/*============== widget ================*/
	
		.wa--widget__fixed--block-content .widget__content{
			padding: 24px 15px 10px;
		}

		.wa--widget__fixed--block-content .raiting__attachment--item{margin-bottom: 0px;}

		.wa--widget__fixed--block-content .raiting__attachment--content{margin-left: 0;}

	/*======================================*/
	

}

@media only screen and (max-width: 390px) {
	.comit_box .stars{
		width: 185px;
		padding-left: 45px;
	}

	.rating_2 .img_box,
	.rating_2 .count{
		float: none;
		width: 100%;
		text-align: center;
	}
	.rating_2 .br-wrapper{
		float: none;
		width: 53%;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}
	.rating_2 .stars{
		margin-bottom: 30px;
	}
	.rating_1 .br-wrapper{
		width: 67%;
	}


	.wa--widget__fixed--block-content .widget--title{
		padding: 16px 26px;
	}

	
}
/*@media only screen and (max-width: 355px) {
	.wa--widget__fixed--block-content .widget-main {
		padding-top: 70px;
	}
}*/