@import "../css/reset.css";
@import "../css/bootstrap_grid.css";
@import "../css/css-stars.css";
@import "../css/examples.css";
@import "../css/bars-1to10.css";
@import "../css/bars-movie.css";
@import "../css/bars-square.css";
@import "../css/bars-pill.css";
@import "../css/bars-reversed.css";
@import "../css/bars-horizontal.css";
@import "../css/widget_style.css";

@import "../css/fontawesome-stars.css";
@import "../css/css-stars.css";
@import "../css/bootstrap-stars.css";
@import "../css/fontawesome-stars-o.css";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
  font-size: 12px;
  line-height: ;
  color: #5b5b5b;
  min-width: 320px;
  background-color: #FFF;
  -webkit-text-size-adjust: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fw_600{
  font-weight: bold !important;
}

.span--font_26{
  font-size: 22px;
  margin-top: -2px;
  display: inline-block;
}

.p_rel{
  position: relative;  
}
/*----------------------> Links And buttons <------------------*/
  a {
    color: #5B5B5B;
    outline:none;
    /*text-decoration:underline;*/
    cursor:pointer;
  }
  a:hover{
    text-decoration:none;
  }

  button{
    background: none;
  }


/*=====================search=======================*/
.search_form_error {
    border: none;
    float: left;
    width: 48px;
    height: 38px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    overflow: none;
    background: #1b5aa7 url(../images/search2.png) 50% 50% no-repeat;
    -webkit-background-size: 28px;
         -o-background-size: 28px;
            background-size: 28px;
}

.error label{
  color: #393939;
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.input_error1 {
    width: 256px;
    height: 27px;
    line-height: 27px;
    padding: 0 11px;
    padding-left: 43px;
    border: none;
    outline: none;
    font-size: 13px;
    margin: 5px 0;
    color: #393939;
}

.input_error2 {
    width: 204px;
    height: 27px;
    line-height: 27px;
    padding: 0 11px;
    padding-left: 43px;
    border: none;
    outline: none;
    border-left: 1px solid #9b9b9a;
    font-size: 13px;
    margin: 5px 0;
    color: #393939;
}

.after__login{
  position: relative;
}

.search__wrapper{
  display: inline-block;
}

.after__login .search__wrapper{
  float: none;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;  
}

.input_bloc{
  display: inline-block;
  overflow: hidden;
  height: 39px;
  border: 1px solid #9b9b9a;
  background: #FFF;
  margin: auto;
  margin-right: 18px;
  border-radius: 5px;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
    content: " ";
    clear: both;
    display: table;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.form_textarea{
    width: 100%;
    margin-top: 15px;
    border: aliceblue;
    height: 200px;
    padding: 20px;
    font-size: 16px;
}

.input{
    width: 100%;
    margin-top: 15px;
    border: aliceblue;
    height: 50px;
    padding: 20px;
    font-size: 16px;
}
/*==================end===========================*/

/*================btn===========================*/
.btn2 {
  text-decoration: none;  
  display: inline-block;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 10px 22px 9px;
  font-size: 13px;
  border-radius: 8px;
  color: #fff;
}

.btn2.login{
  min-width: 118px;
}

.btn:hover{
    background:;
    color:#ece8e8;
  }
  a.td_und{text-decoration: underline;}
  a.td_und:hover{text-decoration: none;}

.contact{
  
}
/*=====================end===============================*/

/*=========================bloc_bg===============================*/
[class*="bloc_bg"], .widget { position: relative;  }
.bloc_bg1{
  width: 100%;
  /*height: 120px;*/
}

.bloc_bg2{
  width: 100%;
  height: auto;
  padding: 30px;
  margin-top: 30px;
  border: 1px solid #bebebe;
}

.bloc_bg3{
  width: 100%;
  background: #FFF;
  /*height: 420px;*/
  border:1px solid #bebebe;
}

.bloc_bg4{
  width: 100%;
  /*height: 100px;*/
  display: inline-block;
  padding: 20px 24px;
}

.bloc_bg5{
  width: calc(100% - 80px);
  /*height: 190px;*/
  padding: 30px;
  border:1px solid #bebebe;
  position: relative;
}

  .bloc_bg5::before{
    background: url("../images/img5.png") 0 0 no-repeat;
    width: 46px;
    height: 76px;
    margin-top: -38px;
    display: block;
    content: " ";
    position: absolute;
    top: 50%;
    right: calc(100% + 20px);
  }

.bloc_bg7{
  width: 415px;
  height: 990px;
  border:1px solid #bebebe;
}
  .bloc_bg7::before{
    background: url("../images/img5.png") 0 0 no-repeat;
    width: 46px;
    height: 76px;
    margin-top: -38px;
    display: block;
    content: " ";
    position: absolute;
    top: 50%;
    right: calc(100% + 20px);
  }

.block_facebook{
  
}
/*========================================================*/

/*======================data-bg=============================*/

  [data-bg="green"]{background-color: #009036;}

  [data-bg="blue"]{background-color: #1b5aa7;}

  [data-bg="orange"]{background-color: #e47616;}

  [data-bg="grey"]{background-color: #ebf0f6;}

  [data-bg="pink"]{background-color: #f8e9e7;}

  [data-bg="yellow"]{background-color: #fff8e6;} 

  [data-bg="beige"]{background-color: #e9e9e9;}




  [data-color="red"]{color: #D60000;}

  [data-color="black1"]{color: #282828;}

  [data-color="white"]{color: #FFF;}

  [data-color="grey_light"]{color: #CDCDCD;}


  /*=====================end=========================*/

/*==========================pagination===========================*/

.wn-pagination{
  clear: both;
  color: #1B5AA7;
}
.wn-pagination ul {
  text-align: center;
}

.wn-pagination ul li {
  display: inline-block; 
  margin: 0 1px; vertical-align: middle;
  line-height: 12px;
  padding: 10px 2px;
}

.wn-pagination ul li a, .wn-pagination ul li span{
  color: #1b5aa7;
  display: inline-block;
  font-size: 20px; 
  font-weight: bold;
  text-decoration: none;
  padding: 0 10px;
  line-height: 28px;
}

.wn-pagination ul li a:hover, .wn-pagination ul li span:hover {
  background: #1b5aa7;
  -webkit-border-radius: 1px; 
  -moz-border-radius: 1px;
  border-radius: 1px;
  color: #FFF;
}
.wn-pagination ul li a.prev, 
.wn-pagination ul li a.next {
  width: 24px;
  height: 24px;
}

.wn-pagination ul li a.prev{
  background: url(../images/pagination_img.png) 0 0 no-repeat;
  transform: rotate(180deg);
  margin-right: 5px;
}

.wn-pagination ul li a.prev.disable{
  background: url(../images/pagination_disable.png) 0 0 no-repeat;
  transform: rotate(0);
}

.wn-pagination ul li a.next.disable{
  background: url(../images/pagination_disable.png) 0 0 no-repeat;
  transform: rotate(180deg);
}

.wn-pagination ul li a.next{
  background: url(../images/pagination_img.png) 0 0 no-repeat;
  margin-left: 5px;
}

.wn-pagination ul li.active a, .wn-pagination ul li.active span {
  color: #fff; 
  font-size: 24px; 
  font-weight: bold;
  background: #1b5aa7;
}

.wn-pagination ul li.active a:hover, .wn-pagination ul li.active span:hover {
  background: #1b5aa7;
} 

/*===============================end=======================================*/


/*----------------------> Basic Classes <------------------*/
  .reg {text-transform:uppercase}
  .f_left {float:left}
  .f_right {float:right}
  .al_left{text-align: left;}
  .al_right {text-align:right}
  .al_center {text-align:center}

  .it{font-style:italic}
  .let{letter-spacing:-1px}

  .full_w{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

  .m_b_zero{ margin-bottom:0 !important;}
  .m_l_zero{ margin-left:0 !important;}
  .p_b_zero{ padding-bottom:0 !important;}
  .p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
  .p_abs{position: absolute;}
  .p_rel{position: relative;}
  .p_fix{position: fixed;}
  .clear {clear:both;width:100%;line-height:0;font-size:0;}
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .wrapper {overflow:hidden}
  .f_elem>*:first-child{margin-top: 0 !important;}
  .f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

  .bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

  .d_block{ display:block;}
  .d_ib{ display:inline-block;}
  .d_none{ display:none;}
  .d_tc{ display:table-cell;}
  .d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/



/*======================> Header <======================*/

  header {
    padding-top: 13px;
    padding-bottom: 12px;
  }
    .logo{
      display: inline-block;
      width: 155px;
    }

      .logo a{
        display:inline-block;
      }

        .logo a img{
          max-width: 100%          
        }

.menu{
  /*padding: 28px 30px 0;*/
  position: relative;
  z-index: 10;
  display: inline-block;
  margin-left: -12px;
  margin-right: -12px;
}

  .menu_item{
    float: left;
    margin-left: 12px;
    margin-right: 12px;
  }

/*=====================> Content ========================*/
#content {padding:0px 0px 0px 0px; min-height: 1500px;}
.cont_pad{padding:0 0 0 0 !important;}

.banner__img{
  height: 400px;
  position: relative;
  background: url(../images/contact_01.png) 0 0 no-repeat;
}

  .banner--item{
    margin-top: 171px;
    width: 328px;
    height: 230px;
    border: 1px solid #bebebe;
    border-bottom: none;
    background: #e9e9e9;
    padding: 14px 14px 0;
    position: relative;
    z-index: 5;
  }

    .banner-bg{
      background: #fff;
      position: relative;
      width: 100%;
      height: 100%;
      border: 1px solid #bebebe;
    }

    .banner-bg .btn2{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }

.block__contact{
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #bebebe; 
  border-bottom: 1px solid #bebebe; 
}

  .bloc_bg2{
    position: relative;
  }

  .btn.width-max{
    width: 100%;
    text-align: center;
    border-radius: 0;
  }

  .bloc_bg2 .btn2.abs{
    position: absolute;
    left: 50%;
    bottom: 100%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
  }

  [data-btn-icon]{
    position: relative;
  }

  [data-btn-icon="tag"]{
    padding: 10px 12px 10px 36px;
  }

    [data-btn-icon="tag"]::before{
      content: "";
      background: url(../images/btn_icon1.png) 0 0 no-repeat;
      width: 16px;
      height: 16px;
      -webkit-background-size: 100%;
           -o-background-size: 100%;
              background-size: 100%;
      position: absolute;
      left: 12px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

  [data-btn-icon="kont"]{
    padding: 12px 22px 12px 48px;
  }

    [data-btn-icon="kont"]::before{
      content: "";
      background: url(../images/btn_icon2.png) 0 0 no-repeat;
      width: 18px;
      height: 15px;
      -webkit-background-size: 100%;
           -o-background-size: 100%;
              background-size: 100%;
      position: absolute;
      left: 20px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }  

  [data-mark]{
    padding-left: 19px;
    position: relative;
  }

  [data-mark]::before{
    content: "";
    background: url(../images/small_mark_icon.png) 0 0 no-repeat;
    display: block;
    -webkit-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%;
    width: 10px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 0;
  }

.temporary_wrap{
  width: 1358px;
  margin-left: auto;
  margin-right: auto;
}
  .hr1{
    width: 100%;
    border: none;
    height: 2px;
    background-color: #F2F2F2;
    margin-bottom: 20px;
  }

  /*-------------  WIDGETS  -----------*/
    .widget{
      width: 100% !important;
    }
    .widgets_wrap{
      padding-left: 10px;
      padding-right: 10px;
    }
    .widget_row{
      margin-left: -10px;margin-right: -10px;
    }

    .widget--title{
      font-size: 20px;
      padding: 16px 18px;
      position: relative;
      background: #1b5aa7;
      font-weight: bold;
      color: #fff;
    }

    .widget__content{
      padding: 24px 31px 39px;
      font-size: 14px;
      line-height: 18px;
      color: #393939;
    }

    [data-type^="widget_type_"]{
      /*float: left;*/
      margin-bottom: 22px;
      background-color: #fafafa;
      border: 1px solid #bebebe;
    }
      [data-type^="widget_type_"] .content{
        min-height: 100px;
        text-align: center;
      }

    [data-type="widget_type_small"]{
      /*width: 20.98%;*/
      min-height: 135px;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 5px;
    }
      
      [data-type="widget_type_small"] .br-theme-css-stars .br-widget a{
        width: 23px;
        height: 23px;
        font-size: 28px;
        text-align: center;
      }
      [data-type="widget_type_small"] span.fz30{
        line-height: 2.1;
        margin-left: 0px;
      }
      [data-type="widget_type_small"] .stars-example-css{
        margin-top: -15px;
      }
      [data-type="widget_type_small"] .br-theme-css-stars .br-widget{
        width: 140px;
        margin-left: auto;
        margin-right: auto;
      }

    [data-type="widget_type_middle"]{
      /*width: 31.1%;*/
      padding-bottom: 5px;
    }

      .rating_1{
        background-color: #FFF;
        padding: 4px 5px;
        display: inline-block;
        width: 100%;
      }
        .rating_1_star_count{
          display: block;
          float: left;
          width: 28px;
          color: #9a9a9a;
          font-size: 14px;
          line-height: 1.2;
          padding-right: 15px;
          margin-right: 14px;
          text-align: center;
          background: url(../images/star_grey.jpg) 100% 50% no-repeat;
        }
        .rating_1 .br-wrapper{
          width: 58%;
          float: left;
        }
          .rating_1 .box-body{
            display: inline-block;
            width: 100%;
          }
          .rating_1 .br-theme-bars-1to10 .br-widget{
            height: 16px;
          }
          .rating_1 .br-theme-bars-1to10 .br-widget a{
            width: 10%;
            height: 16px;
            margin: 0 0 0 -1px;
          }
          .rating_1 .br-theme-bars-1to10 .br-widget .br-current-rating{
            display: none;
          }
          .rating_1 .br-theme-bars-1to10 .br-widget a.br-active, 
          .rating_1 .br-theme-bars-1to10 .br-widget a.br-selected{
            background-color: #FFD100;
          }
          .rating_1 .br-theme-bars-1to10 .br-widget a{
            background-color: #EFEFEF;
          }
          .rating_1 span:last-child{
            width: 37px;
            padding-left: 7px;
            display: block;
            float: left;
          }
    

    [data-type="widget_type_large"]{
      /*width: 65.9%;*/
      padding-right: 27px;
      padding-left: 20px;
      padding-bottom: 26px;
    }
        .w-comit_box{
          min-height: 144px;
          margin-bottom: 12px;
          padding: 18px 45px 18px 23px;
          border: 1px solid #E3E3E3;
          background-color: #FFF;
        }
          .commit_box_header{
            margin-bottom: 14px;
          }
            .commit_box_header .img_box{
              float: left;
              margin-right: 14px;
              width: 30px;
              height: 30px;
            }
            .commit_box_header .img_box img{
              width: 100%;
              -webkit-border-radius: 50%;
                      border-radius: 50%;
            }
            .commit_auth{
              display: block;
              float: left;
              color: #000;
              line-height: 2;
              font-size: 16px;
              font-weight: bold;
              margin-right: 10px;
            }
            .w-comit_box .stars{
              width: 140px;
              float: left;
              margin-top: 3px;
            }
            .w-comit_box .date{
              font-size: 14px;
              color: #000;
              float: right;
            }

            .yelp .br-theme-css-stars .br-widget a{
              width: 22px;
              height: 22px;
              font-size: 20px;
              background-color: #B8B8B8;
              -webkit-border-radius: 3px;
                      border-radius: 3px;
            }
              /*.yelp .br-theme-css-stars .br-widget a:after,
              .yelp .br-theme-css-stars .br-widget a.br-selected:after{
                color: #FFF;
              }*/
              .yelp .br-theme-css-stars .br-widget a.br-selected{
                /*background-color: #DE1200;*/
              }

            .w-comit_box .br-theme-css-stars .br-widget a:after{
              
                display: block;
                /*margin-top: -5px;*/
                text-align: center;
            }
            .w-comit_box .br-theme-css-stars .br-widget a{
              width: 23px;
              height: 23px;
              /*font-size: 28px;*/
            }

            .w-comit_box .google,
            .w-comit_box .facebook{
              margin-top: -3px;
            }
              .facebook .br-theme-css-stars .br-widget a.br-selected:after,
              .facebook .br-theme-css-stars .br-widget a.br-active:after{
                color: #009ACF;
              }

              .more{
                display: inline-block;
                margin-top: 26px;
                width: 140px;
                background-color: #005EAF;
                color: #fff;
                font-weight: bold;
                font-size: 12px;
                text-decoration: none;
                padding: 10px 7px;
                text-align: center;
                -webkit-border-radius: 5px;
                        border-radius: 5px;
              }

      .rating_2{
        
      }
      .w-stars{
        margin-bottom: 20px;
      }
        .rating_2 .img_box{
          width: 50%;
          float: left;
          height: 22px;
        }
          .rating_2 .img_box img{
            height: 100%;
            width: auto;
            max-width: 100%;
          }
          .rating_2 .br-wrapper{
            width: 67%;
            float: left;
          }
          .rating_2 .count{
            display: block;
            float: right;
            width: 40px;
            color: #2C2C2C;
            font-size: 15px;
            line-height: 1.5;
            font-style: normal;
            
          }
            .rating_2 .br-widget{
              /*margin-top: -10px;*/
            }
              .rating_2 .br-theme-css-stars .br-widget a{
                width: 23px;
                height: 23px;
                font-size: 28px;
                
              }

            .rating_2 .yelp .br-theme-css-stars .br-widget a{
              font-size: 20px;
            }
              .rating_2 .yelp .br-widget{margin-top: 4px;}
              .rating_2 .yelp .br-theme-css-stars .br-widget a:after{
                /*margin-top: -4px;*/
                display: block;
                text-align: center;
              }

            .rating_2 .trip .br-wrapper{
              margin-top: 7px;
            }


            .w-stars .br-theme-css-stars .br-widget a:after{
              /*margin-top: -7px;*/
              display: block;
            }


              .var_2 .rating_2 .br-wrapper,
              .var_2 .rating_2 .img_box{
                width: 45%;
              }

      
      .basic_stars.extra{display: inline-block;}

      .basic_stars .br-theme-css-stars .br-widget a{
        background: url(../images/star-smal-def.png) 0 0 no-repeat;
        -webkit-background-size: 100%;
             -o-background-size: 100%;
                background-size: 100%;
      }
      .basic_stars.extra .br-theme-css-stars .br-widget a{
        background: url(../images/star-big-def.png) 0 0 no-repeat;
        -webkit-background-size: 100%;
             -o-background-size: 100%;
                background-size: 100%;
        width: 40px;
        height: 38px;
      }
      .basic_stars .br-theme-css-stars .br-widget a.br-selected:after{
        background: url(../images/active_star.png) 0 0 no-repeat;

        -webkit-background-size: 100%;
             -o-background-size: 100%;
                background-size: 100%;
      }

      .basic_stars.extra .br-theme-css-stars .br-widget a.br-selected:after{
        background: url(../images/extra_star.png) 0 0 no-repeat;
        width: 40px;
        height: 38px;
        -webkit-background-size: 100% !important;
             -o-background-size: 100% !important;
                background-size: 100% !important;
      }

      .stars__big.blue .br-theme-css-stars .br-widget a.br-selected:after{
        background: url(../images/star_blue.png) 0 0 no-repeat;

        -webkit-background-size: 100%;
        background-size: 100%;
      }

      .stars__big.red .br-theme-css-stars .br-widget a.br-selected:after{
        background: url(../images/star_red.png) 0 0 no-repeat;

        -webkit-background-size: 100%;
        background-size: 100%;
      }

      .stars__big.yellow .br-theme-css-stars .br-widget a.br-selected:after{
        background: url(../images/star_yellow.png) 0 0 no-repeat;

        -webkit-background-size: 100%;
        background-size: 100%;
      }

      .basic_stars .br-theme-css-stars .br-widget .br-fractional:after{
        background: url(../images/active_star.png) 0 0 no-repeat;

        -webkit-background-size: 100%;
        background-size: 100%;
      }


      .yelp .br-theme-css-stars .br-widget a{
        background: url(../images/star_noactive_red2.png) 0 0 no-repeat;
        
        -webkit-background-size: 100%;
        background-size: 100%;
      }

      .yelp .br-theme-css-stars .br-widget a.br-selected:after,
      .yelp .br-theme-css-stars .br-widget .br-fractional:after{
        background: url(../images/star_active_red2.png) 0 0 no-repeat;

        -webkit-background-size: 100%;
        background-size: 100%;
      }

      .google .br-theme-css-stars .br-widget a,
      .bet .br-theme-css-stars .br-widget a,
      .pricerun .br-theme-css-stars .br-widget a{
        background: url(../images/noactive_star.png) 0 0 no-repeat;
        
        -webkit-background-size: 100%;
        background-size: 100%;
      }

      .google .br-theme-css-stars .br-widget a.br-selected:after,
      .google .br-theme-css-stars .br-widget .br-fractional:after,
      .bet .br-theme-css-stars .br-widget a.br-selected:after,
      .bet .br-theme-css-stars .br-widget .br-fractional:after,
      .pricerun .br-theme-css-stars .br-widget a.br-selected:after,
      .pricerun .br-theme-css-stars .br-widget .br-fractional:after{
        background: url(../images/active_star.png) 0 0 no-repeat;

        -webkit-background-size: 22px auto;
             -o-background-size: 22px auto;
                background-size: 22px auto;
      }


      .facebook .br-theme-css-stars .br-widget a{
        background: url(../images/noactive_star.png) 0 0 no-repeat;
        
        -webkit-background-size: 22px auto;
             -o-background-size: 22px auto;
                background-size: 22px auto;
      }

      .facebook .br-theme-css-stars .br-widget a.br-selected:after,
      .facebook .br-theme-css-stars .br-widget .br-fractional:after{
        background: url(../images/star_active_blue.png) 0 0 no-repeat;

        -webkit-background-size: 22px auto;
             -o-background-size: 22px auto;
                background-size: 22px auto;
      }

      .trip .br-theme-css-stars .br-widget a{
        background: url(../images/star_noactive_green.png) 0 0 no-repeat;
        
        -webkit-background-size: 22px auto;
             -o-background-size: 22px auto;
                background-size: 22px auto;
      }

      .trip .br-theme-css-stars .br-widget a.br-selected:after,
      .trip .br-theme-css-stars .br-widget .br-fractional:after{
        background: url(../images/star_active_green.png) 0 0 no-repeat;

        -webkit-background-size: 22px auto;
             -o-background-size: 22px auto;
                background-size: 22px auto;
      }

      .krak .br-theme-css-stars .br-widget a{
        background: url(../images/star_noactive_red.png) 0 0 no-repeat;
        
        -webkit-background-size: 22px auto;
             -o-background-size: 22px auto;
                background-size: 22px auto;
      }

      .krak .br-theme-css-stars .br-widget a.br-selected:after,
      .krak .br-theme-css-stars .br-widget .br-fractional:after{
        background: url(../images/star_active_red.png) 0 0 no-repeat;

        -webkit-background-size: 22px auto;
             -o-background-size: 22px auto;
                background-size: 22px auto;
      }


      .br-theme-css-stars .br-widget a{
        text-indent: -9999px;
        color: transparent;
      }

      .br-theme-css-stars .br-widget a.br-selected:after,
      .br-theme-css-stars .br-widget a.br-selected:after{
        display: block;
        color: transparent;
        display: block;
        overflow: hidden;
        -webkit-background-size: 22px auto;
             -o-background-size: 22px auto;
                background-size: 22px auto;
      }

      .br-theme-css-stars .br-widget .br-fractional-10:after{
        width: 10%;
      }
      .br-theme-css-stars .br-widget .br-fractional-20:after{
        width: 20%;
      }
      .br-theme-css-stars .br-widget .br-fractional-30:after{
        width: 30%;
      }
      .br-theme-css-stars .br-widget .br-fractional-40:after{
        width: 40%;
      }
      .br-theme-css-stars .br-widget .br-fractional-50:after{
        width: 50%;
      }
      .br-theme-css-stars .br-widget .br-fractional-60:after{
        width: 60%;
      }
      .br-theme-css-stars .br-widget .br-fractional-70:after{
        width: 70%;
      }
      .br-theme-css-stars .br-widget .br-fractional-80:after{
        width: 80%;
      }
      .br-theme-css-stars .br-widget .br-fractional-90:after{
        width: 90%;
      }
      .br-theme-css-stars .br-widget .br-fractional-100:after{
        width: 100%;
      }


      .stars__big.basic_stars .br-theme-css-stars .br-widget a{
        width: 23px;
        height: 22px;
      }

      .stars__big.basic_stars .br-theme-css-stars .br-widget a.br-selected:after{
        background-size: 23px 22px;
        background-position: -1px -1px;
      }

      .stars__big.basic_stars .br-theme-css-stars .br-widget a.br-selected{
        background: none;
      }


  /*widget content*/

  .big--star{
    width: 68px;
    height: 65px;
    background: url(../images/big_star.png) 0 0 no-repeat;
    position: relative;
    -webkit-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%;
  }

    [data-val]::before{
      content: attr(data-val);
      color: #fff;
      font-size: 22px;
      line-height: 26px;
      font-weight: bold;
      position: absolute;
      top: 23px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    .widget__star-content{
      display: inline-block;
      line-height: 70px;
      font-size: 14px;
      color: #393939;
      margin-left: 19px;
    }

    .widget__content .title7{
      color: #393939
    }

  .raiting{
    position: relative;
    padding-top: 10px;
  }
    
    .raiting_row{
      margin: 0 53px;
      height: 12px;
      border-radius: 15px;
      background: #bebebe;
      overflow: hidden;
    }

    [data-star]::before{
      content: attr(data-star);
      font-size: 13px;
      line-height: 31px;
      font-weight: bold;
      color: #fff;
      text-align: center;
      width: 31px;
      height: 29px;
      background: url(../images/small_star.png) 0 0 no-repeat;
      -webkit-background-size: 100%;
           -o-background-size: 100%;
              background-size: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    [data-percent]::after{
      content: attr(data-percent);
      font-size: 14px;
      line-height: 32px;
      font-weight: bold;
      color: #949494;
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
    }

    .raiting_range{
      display: inline-block;
      height: 15px;
      background: #ff7700;
    }

    .raiting__attachment--item{
      position: relative;
      padding-right: 54px;
      line-height: 64px;
    }

    .raiting__attachment--item img{
      vertical-align: middle;
    }

    [data-rait-val]::before{
      content: attr(data-rait-val);
      background: url(../images/med_star.png) 0 0 no-repeat;
      -webkit-background-size: 100%;
           -o-background-size: 100%;
              background-size: 100%;
      width: 50px;
      height: 47px;
      line-height: 49px;
      text-align: center;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      position: absolute;
      right: 0;
      top: 0;
    }

    .raiting__attachment--content{
      display: inline-block;
      vertical-align: middle;
      margin-left: 12px;
    }

    [data-icon]{
      position: relative;
    }

    [data-icon="pen"]{
      content: "";
      position: absolute;
      background: url(../images/pencil_icon.png) 0 0 no-repeat;
      -webkit-background-size: 100%;
           -o-background-size: 100%;
              background-size: 100%;
      width: 18px;
      height: 18px;
      right: 19px;
      top: 50%;
      margin-top: -9px;
    }

      .raiting__attachment--content span{
        color: #949494;
        font-size: 13px;
        font-weight: bold;
      }

      .raiting__attachment--content .text__content{
        line-height: 1.2;
        display: inline-block;
        vertical-align: middle;
      }

      .raiting__attachment--img{
        width: 58px;
      }

        .raiting__attachment--img img{
          max-width: 100%;
        }

      .raiting__attachment--img.fb_logo img{
        margin-left: -4px;
      }

      [data-icon="geo"],
      [data-icon="home"]{
        padding-left: 38px;
        line-height: 31px;
      }

      [data-icon="geo"]::before{
        content: "";
        background: url(../images/geo.png) 0 0 no-repeat;
        width: 24px;
        height: 31px;
        position: absolute;
        left: -1px;
        top: -2px;
      }

      [data-icon="home"]::before{
        content: "";
        background: url(../images/adres.png) 0 0 no-repeat;
        width: 24px;
        height: 35px;
        position: absolute;
        left: -1px;
        top: -1px;
      }

      .widget__content dl{
        font-size: 14px;
        line-height: 20px;
        padding-left: 29px;
        width: 180px;
      }

      .widget__content dl a{
        color: #1b5aa7;
        text-decoration: none;
      }

      .widget__content dl dt{
        font-weight: bold;
      }

      .widget__content--item{
        padding-left: 37px;
        font-size: 14px;
        line-height: 18px;
      }

  .comit_wrap .input_error1,
  .form_textarea,
  .input{
    border: 1px solid #9b9b9a;
    font-size: 18px;
    font-weight: 400;
  }

  .input{
    outline: none;
  }

  .input:focus{
    outline: none !important;
    border-color: #9b9b9a;
  }

  .form_textarea{
    resize: none;
    padding-left: 19px;
  }

  .comit_wrap .input_error1{
    width: calc(50% - 10px);
    height: 50px;
    line-height: 48px;
    padding-left: 19px;
  }

  input::-webkit-input-placeholder{
    line-height: 48px;
    font-size: 13px;
    font-weight: 400;
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
  }
  input::-moz-placeholder{
    line-height: 48px;
    font-size: 13px;
    font-weight: 400;
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
  }
  input:-moz-placeholder{
    line-height: 48px;
    font-size: 13px;
    font-weight: 400;
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
  }
  input:-ms-input-placeholder{
    line-height: 48px;
    font-size: 13px;
    font-weight: 400;
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
  }

  textarea::-webkit-input-placeholder{
    font-size: 13px;
    font-weight: 400;
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
  }

  textarea::-webkit-input-placeholder{
    font-size: 13px;
    font-weight: 400;
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
  }

  textarea::-webkit-input-placeholder{
    font-size: 13px;
    font-weight: 400;
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
  }

  textarea::-webkit-input-placeholder{
    font-size: 13px;
    font-weight: 400;
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
  }

  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus::-moz-placeholder,
  textarea:focus::-webkit-input-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus:-moz-placeholder,
  textarea:focus::-webkit-input-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus:-ms-input-placeholder,
  textarea:focus::-webkit-input-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }

  .form__item{
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .form__item.show{
    height: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; 
  }


.user__block{
  
}

  .user__block--name{
    line-height: 39px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
    margin-right: 11px;
  }

  .user__block--name a{
    text-decoration: none;
    display: inline-block;
    max-width: 125px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .user__block--avatar a{
    display: inline-block;
    width: 39px;
    height: 39px;
  }

    .user__block--avatar a img{
      max-width: 100%;
    }

/*=====================> Paragraphs ========================*/

  p {margin-bottom:18px}
  .mb1{ margin-bottom:1px;}
  .mb2{ margin-bottom:2px;}
  .mb3{ margin-bottom:3px;}
  .mb4{ margin-bottom:4px;}
  .mb5{ margin-bottom:5px;}
  .mb6{ margin-bottom:6px;}
  .mb7{ margin-bottom:7px;}
  .mb8{ margin-bottom:8px;}
  .mb9{ margin-bottom:9px;}
  .mb10{ margin-bottom:10px;}
  .mb11{ margin-bottom:11px;}
  .mb12{ margin-bottom:12px;}
  .mb13{ margin-bottom:13px;}
  .mb14{ margin-bottom:14px;}
  .mb15{ margin-bottom:15px;}
  .mb16{ margin-bottom:16px;}
  .mb17{ margin-bottom:17px;}
  .mb18{ margin-bottom:18px;}
  .mb19{ margin-bottom:19px;}
  .mb20{ margin-bottom:20px;}
  .mb21{ margin-bottom:21px;}
  .mb22{ margin-bottom:22px;}
  .mb23{ margin-bottom:23px;}
  .mb24{ margin-bottom:24px;}
  .mb25{ margin-bottom:25px;}
  .mb26{ margin-bottom:26px;}
  .mb27{ margin-bottom:27px;}
  .mb28{ margin-bottom:28px;}
  .mb29{ margin-bottom:29px;}
  .mb30{ margin-bottom:30px;}
  .mb31{ margin-bottom:31px;}
  .mb32{ margin-bottom:32px;}
  .mb33{ margin-bottom:33px;}
  .mb34{ margin-bottom:34px;}
  .mb35{ margin-bottom:35px;}
  .mb36{ margin-bottom:36px;}
  .mb37{ margin-bottom:37px;}
  .mb38{ margin-bottom:38px;}
  .mb39{ margin-bottom:39px;}
  .mb40{ margin-bottom:40px;}
  .mb41{ margin-bottom:41px;}
  .mb42{ margin-bottom:42px;}
  .mb43{ margin-bottom:43px;}
  .mb44{ margin-bottom:44px;}
  .mb45{ margin-bottom:45px;}
  .mb46{ margin-bottom:46px;}
  .mb47{ margin-bottom:47px;}
  .mb48{ margin-bottom:48px;}
  .mb49{ margin-bottom:49px;}
  .mb50{ margin-bottom:50px;}
  .mb51{ margin-bottom:51px;}
  .mb52{ margin-bottom:52px;}
  .mb53{ margin-bottom:53px;}
  .mb54{ margin-bottom:54px;}
  .mb55{ margin-bottom:55px;}
  .mb58{ margin-bottom:58px;}
  .mb62{ margin-bottom:62px;}
  .mb75{ margin-bottom:75px;}
  .mt-211{ margin-top:-211px;}
  .mt15{margin-top:15px;}
  .ml15{margin-left:15px;}
  .pad25_30{padding: 25px 30px;}
  .pad5_18{padding: 5px 18px;}

/*=====================> Lists ========================*/
  .list1{}
  .list1 li{
    background:url(../images/marker1.png) 0 7px no-repeat;
    padding-left:20px;
  }
  .list1 a{}

  .list2{}
  .list2 li{
    background:url(../images/marker1.png) 0 7px no-repeat;
    padding-left:20px;
  }
  .list2 a{}

  .list3{}
  .list3 li{
    background:url(../images/marker1.png) 0 7px no-repeat;
    padding-left:20px;
  }
  .list3 a{}

/*=====================> Titles ========================*/
  h2,h3,h4{
    font-weight:normal;
  }
  .title1{
    font-size: 26px;
    line-height: 1.2;
    color: #414149;
    font-weight: normal;
  }

  .title2{
    font-size: 18px;
    line-height: 1.5;
    color: #FFF;
  }

   .title3{
    font-size: 35px;
    line-height: 2.2;
    color: #fff;
    font-weight: normal;
  }

  .title4{
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
  }
  
  .title5{
    color: #393939;
    font-size: 14px;
    line-height: 1.2;
  }

   .title6{
    color: #393939;
    font-size: 14px;
    line-height: 1.2;
  }

  .title7{
    font-size: 18px;
    font-weight: 600;
    color: #000;
  }

  .title8{
    font-size: 29px;
    color: #393939;
  }

  .fz60{font-size: 60px;}
  .fz50{font-size: 50px;}
  .fz30{font-size: 30px;}

 

/*================================>> FONTS  <<========================================*/

  @font-face {
    font-family: 'ProximaNova-Regular';
    src: url('font/ProximaNova-Regular.eot');
    src: url('font/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('font/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .proxi_bold{
    font-weight: 600;
  }

  .ubuntu{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  }



/*================================>> hovers <<========================================*/
  a{
      -webkit-transition: all 0.6s ease;
      -moz-transition: all 0.6s ease;
      -o-transition: all 0.6s ease;
      transition: all 0.6s ease;
  }
  a:hover{
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }



/*================================>> Contact Form <<========================================*/
  #contact-form {
    padding:0px 0 0 0;
    position: relative;
  }
  #contact-form .success
  {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    z-index: 99;
    background: #fff;
    border: 1px solid #000;
    text-align: center;
    padding: 20px 0;
  }
  .txt_field{
    margin:0;
    font-size:12px;
    border:1px solid #e7e7e7;
    color:#969696;
    padding:7px 10px;
    outline:none;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    background:#fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .msg_field{
    overflow:auto;
    width:433px;
    height:172px;
    resize:none;
    float:left;
    margin: 0 0 0 0;
  }

  #contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
  #contact-form .error, #contact-form .empty {
    text-align:left;
    color:red;
    font-size:11px;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  #contact-form .buttons2 {
    overflow:hidden;
    text-align:right;
    position:relative;
    clear:both;
    padding-top:25px;
  }
  #contact-form .buttons2 a {
  	cursor:pointer;
  	margin-top:0;
  	text-align:center;
  }
  #contact-form span{
    display:block;
    margin: 0px 0 0 5px;
   }

  .map_wrapper{
    overflow:hidden;
    display:inline-block;
    margin-bottom:26px;
  }


/*================================>> Contacts Info <<========================================*/
  #map_canvas {
     width:411px;
     height:237px;
  }
  .adress{}
  .adress span{
    display:inline-block;
  }
  .adress dt{ margin-bottom:14px;}
/*==================================*/
/*==================================*/
/*================================>> Footer <<========================================*/
  footer {
    background: #007bd2;
    width: 100%;
    padding: 83px 0 94px;
  }

    footer .title3{
      font-size: 24px;
      font-weight: bold;
      
    }

    .footer_list{
      font-size: 18px;
      line-height: 1.2; 
      color: #fff;
      font-weight: 400;
    }

      .footer_list li{
        margin-bottom: 14px;
      }

      .footer_list a{
        color: #fff;
        text-decoration: none;
      }

      .footer_list a:hover{
        text-decoration: underline;
      }

    .social__footer{
      overflow:hidden;
      margin-left: -7px;
      margin-right: -7px;
    }

      .facebook{
        background: url(../images/fb_icon.png) 0 0 no-repeat;
      }
      .twit{
        background: url(../images/tw_icon.png) 0 0 no-repeat;
      }
      .inst{
        background: url(../images/inst_icon.png) 0 0 no-repeat;
      }

      .social__footer li{
        float: left;
        margin-left: 7px;
        margin-right: 7px;
      }

      .social__footer a{
        display:inline-block;
        width:50px;
        height:50px;
        overflow:hidden;
      }
      .social__footer a:hover{
        opacity: .7;
      }

/*============================= Easy responsive tabs ============================*/


  .resp-tabs-list li {
      
  }


  h2.resp-accordion {
      display: none;
  }

  .resp-tab-content {
      display: none;
  }

  .resp-content-active, .resp-accordion-active {
      display: block;
  }

  .resp-easy-accordion  h2.resp-accordion {
          display: block;
  }

  .resp-tab-content-active {
      display: block;
  }


  @media only screen and (max-width: 768px) {
      ul.resp-tabs-list {
          display: none;
      }

      h2.resp-accordion {
          display: block;
      }

      
      .resp-accordion-closed {
          display:none !important;
      }
      
  }



