*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*widget show block*/

.wa--widget__fixed--block {
    /*position: fixed;*/
    top: 0 ;
    bottom: 0 ;
    right: 0 ;
    z-index: 1;
}

    .wa--widget__fixed--block .widgets_wrap{
      padding-left: 10px;
      padding-right: 10px;
    }
    .wa--widget__fixed--block .widget_row{
      margin-left: -10px;margin-right: -10px;
    }

    .wa--widget__fixed--block .widget--title{
      font-size: 20px;
      padding: 16px 18px;
      margin: 0;
      background: #1b5aa7;
      font-weight: bold;
      color: #fff;
      position: relative;
    }

    .wa--widget__fixed--block .widget__content{
      padding: 24px 31px 39px;
      font-size: 14px;
      line-height: 18px;
      color: #393939;
      background: #fafafa;
      border: 1px solid #d5d4d4;
      border-bottom: none;
      
    }

.wa--widget__fixed--block-btn {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 8;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100px;
    height: 86px;
    background: #e1e1e1;
    border-radius: 10px 0 0 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25), -1px -1px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 24px 10px;
    font-size: 12px;
    font-weight: bold;
    padding-top: 112px;
    color: #393939;
}

.wa--widget__fixed--block-btn::before {
    content: "";
    background: url(../images/star_btn_widget.png) 0 0 no-repeat;
    width: 80px;
    height: 75px;
    position: absolute;
    top: 23px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-size: 100% 100%;
}

.wa--widget__fixed--block-btn[data-btn-val]::after {
    content: attr(data-btn-val);
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}



.wa--widget__fixed--block-content {
    position: fixed;
    left: auto;
    right: -100%;
    top: 40px;
    bottom: 0;
    z-index: 10;
    height: auto;

    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
  .wa--widget__fixed--block-content .widget__content{
    padding: 24px 31px 10px;
  }



.wa--widget__fixed--block-content.show {
    right: 135px;
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.wa--widget__fixed--block-content .widget-main {
    /*max-height: 90%;*/
    /*width: 336px;*/
    max-height: 100%;
    overflow: auto;
    padding-bottom: 0;
    position: relative;
    background-color: #FFF;
    border: 1px solid #bebebe;
    /*padding-top: 50px;*/
    /*top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);*/
}

.wa--widget__fixed--block-content .widget--title {
    text-align: center;
    /*position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;*/
}

.wa--widget__fixed--block-btn--close{
  display: none;
  width: 26px;
  height: 26px;
  position: absolute;
  right: 1px;
  top: 1px;
  
  z-index: 11;
  background: #fff url(../images/close.png) 50% 50% no-repeat;
}

.wa--widget__fixed--block--footer {
    text-align: center;
    background: #eeeeee;
    line-height: 70px;
    border: 1px solid #d5d4d4;
    border-top: none;
}

.wa--widget__fixed--block--footer img {
    max-width: 200px;
    vertical-align: middle;
}

/*widget content*/

  .big--star{
    width: 68px;
    height: 65px;
    background: url(../images/big_star.png) 0 0 no-repeat;
    position: relative;
    -webkit-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%;
  }

    [data-val]::before{
      content: attr(data-val);
      color: #fff;
      font-size: 22px;
      line-height: 26px;
      font-weight: bold;
      position: absolute;
      top: 23px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    .widget__star-content{
      display: inline-block;
      line-height: 70px;
      font-size: 14px;
      color: #393939;
      margin-left: 19px;
    }

    .widget__content .title7{
      color: #393939;
      margin-top: 0;
    }

    .widget__content .title7:not([class*="mb"]){
      margin-bottom: 0;
    }

    .widget__content figure{
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
    }

  .raiting{
    position: relative;
    padding-top: 10px;
  }
    
    .raiting_row{
      margin: 0 53px;
      height: 12px;
      border-radius: 15px;
      background: #bebebe;
      overflow: hidden;
    }

    [data-star]::before{
      content: attr(data-star);
      font-size: 13px;
      line-height: 31px;
      font-weight: bold;
      color: #fff;
      text-align: center;
      width: 31px;
      height: 29px;
      background: url(../images/small_star.png) 0 0 no-repeat;
      -webkit-background-size: 100%;
           -o-background-size: 100%;
              background-size: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    [data-percent]::after{
      content: attr(data-percent);
      font-size: 14px;
      line-height: 32px;
      font-weight: bold;
      color: #949494;
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
    }

    .raiting_range{
      display: inline-block;
      height: 15px;
      background: #ff7700;
    }

    .raiting__attachment--item{
      position: relative;
      padding-right: 54px;
      line-height: 64px;
    }

    .raiting__attachment--item:not([class*="mb"]){
      margin-bottom: 0;
    }

    .raiting__attachment--item img{
      vertical-align: middle;
    }

    [data-rait-val]::before{
      content: attr(data-rait-val);
      background: url(../images/med_star.png) 0 0 no-repeat;
      -webkit-background-size: 100%;
           -o-background-size: 100%;
              background-size: 100%;
      width: 50px;
      height: 47px;
      line-height: 49px;
      text-align: center;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      position: absolute;
      right: 0;
      top: 0;
    }

    .raiting__attachment--content{
      display: inline-block;
      vertical-align: middle;
      margin-left: 12px;
    }

    [data-icon]{
      position: relative;
    }

    [data-icon="pen"]{
      content: "";
      position: absolute;
      background: url(../images/pencil_icon.png) 0 0 no-repeat;
      -webkit-background-size: 100%;
           -o-background-size: 100%;
              background-size: 100%;
      width: 18px;
      height: 18px;
      right: 19px;
      top: 50%;
      margin-top: -9px;
    }

      .raiting__attachment--content span{
        color: #949494;
        font-size: 13px;
        font-weight: bold;
      }

      .raiting__attachment--content .text__content{
        line-height: 1.2;
        display: inline-block;
        vertical-align: middle;
      }

      .raiting__attachment--img{
        width: 58px;
      }

        .raiting__attachment--img img{
          max-width: 100%;
        }

      .raiting__attachment--img.fb_logo img{
        margin-left: -4px;
      }

      [data-icon="geo"],
      [data-icon="home"]{
        padding-left: 38px;
        line-height: 31px;
      }

      [data-icon="geo"]::before{
        content: "";
        background: url(../images/geo.png) 0 0 no-repeat;
        width: 24px;
        height: 31px;
        position: absolute;
        left: -1px;
        top: -2px;
      }

      [data-icon="home"]::before{
        content: "";
        background: url(../images/adres.png) 0 0 no-repeat;
        width: 24px;
        height: 35px;
        position: absolute;
        left: -1px;
        top: -1px;
      }

      .widget__content dl{
        font-size: 14px;
        line-height: 20px;
        padding-left: 29px;
        width: 180px;
      }

      .widget__content dl a{
        color: #1b5aa7;
        text-decoration: none;
      }

      .widget__content dl dt{
        font-weight: bold;
      }

      .widget__content--item{
        padding-left: 37px;
        font-size: 14px;
        line-height: 18px;
      }

.f_left{
    float: left;
}
.f_right{
    float: right;
}

/* mb */

/*.mb1{ margin-bottom:1px;}
.mb2{ margin-bottom:2px;}
.mb3{ margin-bottom:3px;}
.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb6{ margin-bottom:6px;}
.mb7{ margin-bottom:7px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb11{ margin-bottom:11px;}
.mb12{ margin-bottom:12px;}
.mb13{ margin-bottom:13px;}
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb17{ margin-bottom:17px;}
.mb18{ margin-bottom:18px;}
.mb19{ margin-bottom:19px;}
.mb20{ margin-bottom:20px;}
.mb21{ margin-bottom:21px;}
.mb22{ margin-bottom:22px;}
.mb23{ margin-bottom:23px;}
.mb24{ margin-bottom:24px;}
.mb25{ margin-bottom:25px;}
.mb26{ margin-bottom:26px;}
.mb27{ margin-bottom:27px;}
.mb28{ margin-bottom:28px;}
.mb29{ margin-bottom:29px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb33{ margin-bottom:33px;}
.mb34{ margin-bottom:34px;}
.mb35{ margin-bottom:35px;}
.mb36{ margin-bottom:36px;}
.mb37{ margin-bottom:37px;}
.mb38{ margin-bottom:38px;}
.mb39{ margin-bottom:39px;}
.mb40{ margin-bottom:40px;}
.mb41{ margin-bottom:41px;}
.mb42{ margin-bottom:42px;}
.mb43{ margin-bottom:43px;}
.mb44{ margin-bottom:44px;}
.mb45{ margin-bottom:45px;}
.mb46{ margin-bottom:46px;}
.mb47{ margin-bottom:47px;}
.mb48{ margin-bottom:48px;}
.mb49{ margin-bottom:49px;}
.mb50{ margin-bottom:50px;}
.mb51{ margin-bottom:51px;}
.mb52{ margin-bottom:52px;}
.mb53{ margin-bottom:53px;}
.mb54{ margin-bottom:54px;}
.mb55{ margin-bottom:55px;}
.mb58{ margin-bottom:58px;}
.mb62{ margin-bottom:62px;}
.mb75{ margin-bottom:75px;}*/